<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method='post'>
    Username: <br>
    <input type='text' name='username'>
    <br>
    Password: <br>
    <input type='text' name='password'>
    <br> <br>
    <input type='submit' value='Login' formaction='/login'>
    <input type='submit' value='Register' formaction='/register'>
</form>
</body>
</html>