<!DOCTYPE html>
<html>
<head>
    <title>Dobrodosli</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>Zasticena stranica </p>
    <a href="/login">Log out</a>
</body>
</html>